<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared.micropost.compose") %>
  </div>
  <span class="image">
    <%= f.file_field :image %>
  </span>
  <%= f.submit t("shared.micropost.post"), class: "btn btn-primary" %>
<% end %>
